<a href="https://colab.research.google.com/github/143biswajit/PRACTISE-BASIC-CODING-PYTHON-/blob/main/python_practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. python program to find the  largest  among 3 number  enter by user.?**

In [ ]:
#Find Largest of Three Numbers using IF
a=int(input('first number'))
b=int(input('sceond number'))
c=int(input('thired number'))
larger=0
if a>b and a>c :
  larger=a
elif b>c :
  larger=b
else:
  larger=c
print(larger,"larger number")

first number5
sceond number7
thired number10
10 larger number

In [ ]:
#Find Largest of Three Numbers using IF-ELIF

a= int(input('first number'))
b= int(input('sceond number'))
c=int(input('thired number'))
larger=0
if a>b and a>c:
  larger=a
if b>a and b>c:
  larger=b
if c>a and c>b:
  larger=c
print(larger,'larger number')

first number45
sceond number78
thired number23
78 larger number

 **2.Python program to convert temprature to fahrenheit ?**

In [ ]:
temp=float(input('enter temprature in celcius'))
fahrenheit=(temp*18)+32
print(fahrenheit)

enter temprature in celcius70
1292.0

3. Swap two variable using  thried variable?

In [ ]:
a=int(input('enter ur 1st number'))
b=int(input('enter ur 2nd number'))
c=a
a=b
b=c
print('value of a', a)
print('value of b', b)

enter ur 1st number555
enter ur 2nd number333
value of a 333
value of b 555

4. Python code to add  the digits

In [ ]:
num=int(input('enter ur three digits number'))

a=num % 10
num= num//10
b=num%10
c=num//10
addd= (a+b+c)
print(addd)

enter ur three digits number567
18

5. Reversed  digits  using python.

In [ ]:


#cheak


user=int(input([]))

In [ ]:
user = int(input('enter ur four digit number'))
num = user
a= num % 10
num = num //10
 
b= num % 10
num= num // 10

c= num % 10
d = num // 10
# formula
rev = 1000 *a + 100*b +10*c+d
print('original number',user)
print('reverse num',rev)

# cheak
if user == rev:
  print('True')
else:
  print('False')

print(rev)

enter ur four digit number5689
original number 5689
reverse num 9865
False
9865

6.Python program  to cheak if a number is even or odd.

In [ ]:
user=int(input('enter ur number'))
if user % 2==0:
  print('even')
else:
  print('odd')

enter ur number67
odd

In [ ]:
5678%10

8

7. Leap year program

In [ ]:
year= int(input('enter ur year'))
if year%4 == 0:
  print('leap year')
else:
  print('not a leap year')

enter ur year1956
leap year

8. Python programing  ti find the euclidean distance.

In [ ]:
x_1 =float(input('enter x_1 of x co ordinate'))
y_1= float(input('enter y_1 of y co ordinate'))
x_2= float(input('enter x_2 of x co ordinate'))
y_2= float(input('enter y_2 of y co ordinate'))

d=((x_2 -x_1)**2 +(y_2 - y_1)**2)**0.5
print(d)

enter x_1 of x co ordinate45
enter y_1 of y co ordinate67
enter x_2 of x co ordinate23
enter y_2 of y co ordinate78
24.596747752497688

9.Python  program to cheak  if the given 3 angles  can  from  a triangle or not

In [ ]:
a=int(input('enter 1st angle'))
b=int(input('enter 2nd angle'))
c= int(input('enter 3rd angle'))

if a+b+c==180 and a!=0 and b!=0 and c!=0:
  print('posiable')
else:
  print('not posiable')

enter 1st angle60
enter 2nd angle60
enter 3rd angle60
posiable

10. python program  to  calculate profit or  loss for  given  seling and cost price.

In [ ]:
cp = float(input('enter ur cost price'))
sp = float(input('enter ur selling price'))

if cp > sp:
  amount = cp-sp
  print('loss:',amount)
else:
  amount = sp-cp
  print('profit:',amount)

enter ur cost price100
enter ur selling price150
profit: 50.0

11. python program to calculate  simple intrest.

In [ ]:
p= int(input('enter ur principal'))
r= int(input('enter ur rate of intrest'))
t= int(input('enter ur time period in year'))

si =(p*r*t)/100
print('your simple intrest is ',si)
a=p+si
print('your amount is',a)

In [ ]:
p= int(input('enter ur principal'))
r= int(input('enter ur rate of intrest'))
t= int(input('enter ur time period in year'))

si =(p*r*t)/100
print('your simple intrest is ',si)
a=p+si
print('your amount is',a)

**12. valume of cylinder ?**

In [5]:
r=float(input('enter radius of cylinder'))
h=float(input('enter height of cylinder'))

v=3.14*(r**2)*h
print('your valume is',v)
cost = v/1000 *40
print('your cost is',cost)

enter radius of cylinder9
enter height of cylinder15
your valume is 3815.1
your cost is 152.60399999999998

**13. python program to cheak if a given number is divisable by both 3 and 6 .**

In [6]:
digit=int(input('enter ur number'))

if digit % 3 == 0 and digit % 6 == 0:
  print('divisiable by 3 and 6',digit)
else:
  print('not divisiable by 3 and 6',digit)

enter ur number60
divisiable by 3 and 6 60

14.Determine wheather type ?

In [7]:
temp = int(input('enter temprature in celcius'))
humid= int(input('enter humidity percentage'))
if temp >=30 and humid >=90:
  print('hot and humid')
elif temp >=30 and humid <90:
  print('cold and humid')
else:
  print('cold')

enter temprature in celcius45
enter humidity percentage95
hot and humid

**15.Python program to find the sum off the square of a given number?**

In [14]:
num= int (input('enter ur  number'))
a= num %10
num = num// 10
b=num%10
c=num//10
sum=a**2+b**2+c**2
print('required number is ',sum)

enter ur  number673405749
required number is  45347523679346

16 . python program to cheak  if a given  number is armstrong number or not ?

In [19]:
user_input=int(input('enter ur number'))
num= user_input
a= num % 10
num = num // 10
b=num%10
c=num//10


if (a**3)+(b**3)+(c**3)==user_input:
  print('number is armstrong number')
else:
  print('not armstrong number')

enter ur number153
number is armstrong number

**17. Narcissictic number**