<a href="https://colab.research.google.com/github/143biswajit/PRACTISE-BASIC-CODING-PYTHON-/blob/main/python_practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. python program to find the  largest  among 3 number  enter by user.?**

In [ ]:
#Find Largest of Three Numbers using IF
a=int(input('first number'))
b=int(input('sceond number'))
c=int(input('thired number'))
larger=0
if a>b and a>c :
  larger=a
elif b>c :
  larger=b
else:
  larger=c
print(larger,"larger number")

first number5
sceond number7
thired number10
10 larger number

In [ ]:
#Find Largest of Three Numbers using IF-ELIF

a= int(input('first number'))
b= int(input('sceond number'))
c=int(input('thired number'))
larger=0
if a>b and a>c:
  larger=a
if b>a and b>c:
  larger=b
if c>a and c>b:
  larger=c
print(larger,'larger number')

first number45
sceond number78
thired number23
78 larger number

 **2.Python program to convert temprature to fahrenheit ?**

In [ ]:
temp=float(input('enter temprature in celcius'))
fahrenheit=(temp*18)+32
print(fahrenheit)

enter temprature in celcius70
1292.0

3. Swap two variable using  thried variable?

In [ ]:
a=int(input('enter ur 1st number'))
b=int(input('enter ur 2nd number'))
c=a
a=b
b=c
print('value of a', a)
print('value of b', b)

enter ur 1st number555
enter ur 2nd number333
value of a 333
value of b 555

4. Python code to add  the digits

In [ ]:
num=int(input('enter ur three digits number'))

a=num % 10
num= num//10
b=num%10
c=num//10
addd= (a+b+c)
print(addd)

enter ur three digits number567
18

5. Reversed  digits  using python.

In [ ]:
user=int(input([]))

In [ ]:
user = int(input('enter ur four digit number'))