<a href="https://colab.research.google.com/github/143biswajit/PRACTISE-BASIC-CODING-PYTHON-/blob/main/python_practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. python program to find the  largest  among 3 number  enter by user.?**

In [ ]:
#Find Largest of Three Numbers using IF
a=int(input('first number'))
b=int(input('sceond number'))
c=int(input('thired number'))
larger=0
if a>b and a>c :
  larger=a
elif b>c :
  larger=b
else:
  larger=c
print(larger,"larger number")

first number5
sceond number7
thired number10
10 larger number

In [ ]:
#Find Largest of Three Numbers using IF-ELIF

a= int(input('first number'))
b= int(input('sceond number'))
c=int(input('thired number'))
larger=0
if a>b and a>c:
  larger=a
if b>a and b>c:
  larger=b
if c>a and c>b:
  larger=c
print(larger,'larger number')

first number45
sceond number78
thired number23
78 larger number

 **2.Python program to convert temprature to fahrenheit ?**

In [ ]:
temp=float(input('enter temprature in celcius'))
fahrenheit=(temp*18)+32
print(fahrenheit)

enter temprature in celcius70
1292.0

3. Swap two variable using  thried variable?

In [ ]:
a=int(input('enter ur 1st number'))
b=int(input('enter ur 2nd number'))
c=a
a=b
b=c
print('value of a', a)
print('value of b', b)

enter ur 1st number555
enter ur 2nd number333
value of a 333
value of b 555

4. Python code to add  the digits

In [ ]:
num=int(input('enter ur three digits number'))

a=num % 10
num= num//10
b=num%10
c=num//10
addd= (a+b+c)
print(addd)

8

5. Reversed  digits  using python.

In [ ]:


#cheak


user=int(input([]))

In [ ]:
user = int(input('enter ur four digit number'))
num = user
a= num % 10
num = num //10
 
b= num % 10
num= num // 10

c= num % 10
d = num // 10
# formula
rev = 1000 *a + 100*b +10*c+d
print('original number',user)
print('reverse num',rev)

# cheak
if user == rev:
  print('True')
else:
  print('False')

print(rev)

enter ur four digit number5689
original number 5689
reverse num 9865
False
9865

**Write a Python program to reverse a string**

6.Python program  to cheak if a number is even or odd.

In [ ]:
user=int(input('enter ur number'))
if user % 2==0:
  print('even')
else:
  print('odd')

enter ur number67
odd

In [ ]:
5678%10

8

7. Leap year program

In [ ]:
year= int(input('enter ur year'))
if year%4 == 0:
  print('leap year')
else:
  print('not a leap year')

enter ur year1956
leap year

8. Python programing  ti find the euclidean distance.

In [ ]:
x_1 =float(input('enter x_1 of x co ordinate'))
y_1= float(input('enter y_1 of y co ordinate'))
x_2= float(input('enter x_2 of x co ordinate'))
y_2= float(input('enter y_2 of y co ordinate'))

d=((x_2 -x_1)**2 +(y_2 - y_1)**2)**0.5
print(d)

enter x_1 of x co ordinate45
enter y_1 of y co ordinate67
enter x_2 of x co ordinate23
enter y_2 of y co ordinate78
24.596747752497688

9.Python  program to cheak  if the given 3 angles  can  from  a triangle or not

In [ ]:
a=int(input('enter 1st angle'))
b=int(input('enter 2nd angle'))
c= int(input('enter 3rd angle'))

if a+b+c==180 and a!=0 and b!=0 and c!=0:
  print('posiable')
else:
  print('not posiable')

enter 1st angle60
enter 2nd angle60
enter 3rd angle60
posiable

10. python program  to  calculate profit or  loss for  given  seling and cost price.

In [ ]:
cp = float(input('enter ur cost price'))
sp = float(input('enter ur selling price'))

if cp > sp:
  amount = cp-sp
  print('loss:',amount)
else:
  amount = sp-cp
  print('profit:',amount)

enter ur cost price100
enter ur selling price150
profit: 50.0

11. python program to calculate  simple intrest.

In [ ]:
p= int(input('enter ur principal'))
r= int(input('enter ur rate of intrest'))
t= int(input('enter ur time period in year'))

si =(p*r*t)/100
print('your simple intrest is ',si)
a=p+si
print('your amount is',a)

In [ ]:
p= int(input('enter ur principal'))
r= int(input('enter ur rate of intrest'))
t= int(input('enter ur time period in year'))

si =(p*r*t)/100
print('your simple intrest is ',si)
a=p+si
print('your amount is',a)

**12. valume of cylinder ?**

In [ ]:
r=float(input('enter radius of cylinder'))
h=float(input('enter height of cylinder'))

v=3.14*(r**2)*h
print('your valume is',v)
cost = v/1000 *40
print('your cost is',cost)

enter radius of cylinder6
enter height of cylinder12
your valume is 1356.48
your cost is 54.25919999999999

**13. python program to cheak if a given number is divisable by both 3 and 6 .**

In [ ]:
digit=int(input('enter ur number'))

if digit % 3 == 0 and digit % 6 == 0:
  print('divisiable by 3 and 6',digit)
else:
  print('not divisiable by 3 and 6',digit)

enter ur number56
not divisiable by 3 and 6 56

**14.Determine wheather type ?**

In [ ]:
temp = int(input('enter temprature in celcius'))
humid= int(input('enter humidity percentage'))
if temp >=30 and humid >=90:
  print('hot and humid')
elif temp >=30 and humid <90:
  print('cold and humid')
else:
  print('cold')

enter temprature in celcius35
enter humidity percentage90
hot and humid

**15.Python program to find the sum off the square of a given number?**

In [ ]:
num= int (input('enter ur  number'))
a= num %10
num = num// 10
b=num%10
c=num//10
sum=a**2+b**2+c**2
print('required number is ',sum)

enter ur  number456
required number is  77

**16 . python program to cheak if a given number is armstrong number or not ?**

In [ ]:
user_input=int(input('enter ur number'))
num= user_input
a= num % 10
num = num // 10
b=num%10
c=num//10


if (a**3)+(b**3)+(c**3)==user_input:
  print('number is armstrong number')
else:
  print('not armstrong number')

enter ur number457
not armstrong number

**17. Narcissictic number**

In [ ]:
user_input=int(input('enter a four digits number'))
num= user_input

a=num % 10
num=num // 10
b=num % 10
num = num // 10
c=num % 10
d=num // 10

if (a**4 )+(b**4)+(c**4)+(d**4) ==user_input:
    print('narcissictic number') 
else:
    print('not a narcissictic number')

enter a four digits number4578
not a narcissictic number

**18. how to  swap two number in python ?**

In [ ]:
a=int(input('enter ur 1st number'))
b=int(input('enter ur 2nd number'))
a=a +b
b=a-b
a=a-b
print('after swaping ')
print('ur a is',a)
print('ur b is',b)

enter ur 1st number9
enter ur 2nd number3
after swaping
ur a is 3
ur b is 9

**20. python program  to print the some of sum of first  n number ?**

In [ ]:
n=int(input('enter ur number')) 
s=n*(n+1)/2
print('your number is:',s)

enter ur number50
your number is: 1275.0

21 python program  to multiply  two number  without  using the '*' operator ?

In [ ]:
fir_number=int(input('enter ur 1st number'))
sec_number=int(input('enter ue 2nd number'))
sum=0
for i in range(0,fir_number):
    sum=sum +sec_number
print('ur result is:',sum)

enter ur 1st number6
enter ue 2nd number2
ur result is: 12

**22. python program  to find the factorial of given number .**

In [ ]:
num = int(input('enter ur number'))
i = 1
if num > 0:
    while num >=1:
        i=i * num
        num= num-1
        
    print('factorial of the  given number is:',i)
else:
    print('factorial not possiable')

In [ ]:
# another way 
def factorial (x):
    if x==1:
        return 1
    else:
        return (x*factorial(x-1))

In [ ]:
num = int(input('enter a number'))
result= factorial(num)
print('the factorial of',num,'is',result)

enter a number5
the factorial of 5 is 120

In [ ]:
# another way
num = int(input('enter number'))
fac=1
for i in range(1,num+1):
    fac=fac*i
print('factorial number is:',fac)

enter number5
factorial number is: 120

** 23.Python program to print first 25 odd number?**

In [ ]:
flag=0
i=1

while True:
    if i % 2 !=0:
        print(i)
        flag = flag +1
    if flag == 25:
        break
    i=i+1

 **32.python program to print the 20 Fibonacci  series.**

In [ ]:
def fib(n):
    a=0
    b=1
    for i in range(2,n):
        c=a+b
        a=b
        b=c
        print(c)
fib(20)

1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

In [ ]:
#Another way
count = 0
a=0
b=1
print(a)
print(b)
while True:
    c=a+b
    a=b
    b=c
    print(c)
    count=count+1
    if count==10:
        break

0
1
1
2
3
5
8
13
21
34
55
89

**How to find average of n number  in python ?**

In [5]:
num=int(input('how many number?'))
total_sum=0

for i in range (num):
    number = float(input('enter any number'))
    total_sum += number
avg = total_sum / num
print('Averge is :',avg)

how many number?3
enter any number4
enter any number6
enter any number9
Averge is : 6.333333333333333

In [6]:
 numm=int(input('How many number ?'))
 total_sum=0

 for i in range(numm):
     number=float(input('enter any number'))
     total_sum += number
 avgg= total_sum /numm
 print('Average is:',avgg)

How many number ?5
enter any number6
enter any number5
enter any number8
enter any number9
enter any number4
Average is: 6.4

# **How to sum of the n positive integer number?**

In [7]:
n= int (input("Enter number :"))
sum = (n*(n+1)) /2
print(sum)

Enter number :5
15.0

# **How to get time of a python program's execution ?**

In [8]:
import time
def myFunc ():
    start_time = time.time()
    s= 0
    for i in range (1,n+1):
        s = s + i
    end_time = time.time()
    return s,end_time - start_time
n= 5
print(myFunc())

(15, 1.6689300537109375e-06)

# **How to get the current username in python ?**

In [9]:
import getpass
print(getpass.getuser())

root

# **How to assess environment variable in pyuthon ?**

In [12]:
import os
print(os.environ['PATH'])

/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin

# **How to do a profile a python script.**

In [13]:
import cProfile
def sum ():
    print(1,3)
cProfile.run('sum()')

1 3
         65 function calls in 0.001 seconds

   Ordered by: standard name

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.000    0.000    0.001    0.001 <ipython-input-13-f64663048751>:2(sum)
        1    0.000    0.000    0.001    0.001 <string>:1(<module>)
        5    0.000    0.000    0.001    0.000 iostream.py:197(schedule)
        4    0.000    0.000    0.000    0.000 iostream.py:310(_is_master_process)
        4    0.000    0.000    0.000    0.000 iostream.py:323(_schedule_flush)
        4    0.000    0.000    0.001    0.000 iostream.py:386(write)
        5    0.000    0.000    0.000    0.000 iostream.py:93(_event_pipe)
        5    0.001    0.000    0.001    0.000 socket.py:543(send)
        5    0.000    0.000    0.000    0.000 threading.py:1050(_wait_for_tstate_lock)
        5    0.000    0.000    0.000    0.000 threading.py:1092(is_alive)
        5    0.000    0.000    0.000    0.000 threading.py:507(is_set)
        1    0.000    0.000    0.001    0.001 {built-in method builtins.exec}
        4    0.000    0.000    0.000    0.000 {built-in method builtins.isinstance}
        1    0.000    0.000    0.001    0.001 {built-in method builtins.print}
        4    0.000    0.000    0.000    0.000 {built-in method posix.getpid}
        5    0.000    0.000    0.000    0.000 {method 'acquire' of '_thread.lock' objects}
        5    0.000    0.000    0.000    0.000 {method 'append' of 'collections.deque' objects}
        1    0.000    0.000    0.000    0.000 {method 'disable' of '_lsprof.Profiler' objects}

# **How to list all files of a Dictionary in python ?**

In [15]:
from os import listdir
from os.path import isfile , join

files_list = [f for  f in listdir('/home') if isfile (join('/home',f))]

# **How to find out the version of python you are using ?**

In [17]:
import sys
print('python Version')
print(sys.version)
print(sys.version_info)

python Version
3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]
sys.version_info(major=3, minor=7, micro=14, releaselevel='final', serial=0)

# **How to print current date and time in python**

In [19]:
import datetime

now = datetime.datetime.now()
print('current date and time is:')
print(now.strftime('%y-%m-%d %H:%M:%S'))

current date and time is:
22-10-08 21:02:43

# **How to find the area of a circle  in python?**

In [21]:
from math import pi
r=float(input('write the radious of the  circle'))
print('the area of the circle is '+ str(r) + 'is:'+str(pi *r**2))

write the radious of the  circle6
the area of the circle is 6.0is:113.09733552923255